﻿/*! Copyright (c) 2014, Mads Klinkby All rights reserved. */

.feed-entry {
    margin-bottom: 1em;
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
    display: none !important;
}

.icon-spinner {
    display: inline-block;
    height: 32px;
    width: 32px;
    background: url(../Images/spinner.gif) no-repeat;
    vertical-align: middle;
}

.feed-meta {
    float: right;
}
.feed-entry-text {
    margin-top: 0.3em;
    clear: both;
}

.feed-example {
    border: 1px solid silver; 
    padding: 0.3em;
}